{% extends "main.html" %}

{% block title %}My Confident | Home{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    var CURRENT_USERNAME = '{{username}}';
</script>
{% endblock%}

{% block content %}

<div class="flex pv2 ph4 justify-between items-center">

    <div>
        <h1 class="b">My Chats</h1>
    </div>
    <div>
        {% if error %}
        <p class="text-danger">Error: {{ error }}</p>
        {% endif %}
        <div class="flex items-center">
            <input type="text" id="receiver" name="receiver" placeholder="Receiver username"
                class="f6 pa2 input-reset ba bg-transparent hover-bg-black hover-white w-60" maxlength="32"> <span
                class="input-group-btn">
                <button class="b b--black f6 link dim pa2 dib white bg-blue" type="submit" id="new_chat">New
                    Chat</button>
            </span>
        </div>
    </div>

</div>
<div>
    <div class="mt4 measure center overflow-auto">
        {% if chats %}
        {% for chat in chats %}
        <article class="dt w-100 bb b--black-05 pb2 mt2 " href="#0">
            <div class="dtc w2 w3-ns v-mid">
                <img src="http://tachyons.io/img/avatar-yavor.jpg" class="ba b--black-10 db br-100 w2 w3-ns h2 h3-ns" />
            </div>
            <div class="dtc v-mid pl3">
                {% if chat.user1_name == username %}
                <h1 class="f6 f5-ns fw6 lh-title black mv0">{{ chat.user2_name }}</h1>
                {% elif chat.user2_name == username %}
                <h1 class="f6 f5-ns fw6 lh-title black mv0">{{ chat.user1_name }}</h1>
                {% else %}
                <h1 class="f6 f5-ns fw6 lh-title black mv0">{{ username }}</h1>
                {% endif%}

                <h2 class="f6 fw4 mt0 mb0 black-60">{{ chat.last_message_dt }}</h2>
            </div>
            <div class="dtc v-mid">
                <div class="dtc">
                    <form action="{{ url_for('delete_chat', id=chat.id) }}" method="post">
                        <button type="submit"
                            class="f6 ma1 pa2 button-reset bg-white ba b--black-10 dim pointer pv1 black-60">
                            Delete
                        </button>
                    </form>
                </div>
                <div class="dtc">
                    <a href="{{ url_for('chat', id=chat.id) }}"
                        class="link ma1 pa2 f6 bg-blue ba b--black-10 dim pointer pv1 white-60">
                        View
                    </a>
                </div>
            </div>
        </article>

        {% endfor %}
        {% else %}
        <div class="pl3 flex-auto">
            <h2 class="tc">No chats yet...</h2>
        </div>
        {% endif%}
    </div>
</div>

{% endblock %}