{% extends "main.html" %}

{% block title %}My Confident | Home{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script>
    var CURRENT_USERNAME = '{{username}}';
</script>
{% endblock%}

{% block content %}

<div class="flex pv2 ph4 justify-between items-center">

    <div>
        <h1 class="athelas b">My Chats</h1>
    </div>
    <div>
        {% if error %}
        <p class="text-danger">Error: {{ error }}</p>
        {% endif %}
        <div class="flex items-center">
            <input type="text" class="form-control" id="receiver" name="receiver" placeholder="Receiver username"
                class="f6 f5-l input-reset bn fl black-80 bg-white pa3 lh-solid w-100 w-75-m w-80-l br2-ns br--left-ns"
                maxlength="32"> <span class="input-group-btn">
                <button class="f6 link dim br1 ph3 pv2 mb2 dib white bg-dark-green" type="submit" id="new_chat">New
                    Chat</button>
            </span>
        </div>
    </div>

</div>
<div>
    <ul class="list h5 pa3 pl0 mt0 measure center overflow-auto">
        {% if chats %}
        {% for c in chats %}
        <li id={{ c.id }} class="flex items-center lh-copy pa3 ph0-l bb b--black-10">
            <img class="w2 h2 w3-ns h3-ns br-100" src="http://tachyons.io/img/avatar-mrmrs.jpg" />
            {% if c.user1_name == username %}
            <!-- para el titulo  -->
            <div class="pl3 flex-auto">
                <a href="{{ url_for('chat', id=c.id) }}" class="f1 fw6 db  navy link dim">{{ c.user2_name }}</a>
                {% elif c.user2_name == username %}
                <a href="{{ url_for('chat', id=c.id) }}" class="f1 fw6 db  navy link dim">{{ c.user1_name }}</a>
                {% else %}
                <a href="{{ url_for('chat', id=c.id) }}" class="f1 fw6 db  navy link dim">{{ username }}</a>
                {% endif%}
                <!-- <span class="f6 db black-70">{{ c.dt }}</span> -->
                <span class="f3 db mid-gray">{{ c.last_message_dt }}</span>
            </div>
            <!-- para el boton -->
            <div>
                <form action="{{ url_for('delete_chat', id=c.id) }}" method="post">
                    <input class="f6 link dim ba bw2 ph3 pv2 mb2 dib dark-pink" type="submit" value="&#10006">
                </form>
            </div>
        </li>
        {% endfor %}
        {% else %}
        <div>
            <h2>No chats found.</h2>
        </div>
        {% endif%}
    </ul>
</div>

{% endblock %}