{% extends "main.html" %}

{% block title %}MyConfident | Login{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='scripts/login.js') }}"></script>
{% endblock%}

{% block content %}

<div class="">
    <div class="flex items-center justify-center measure center">
        <form id="login" action="{{ url_for('login') }}" method="post" class="ba b--transparent ph0 mr5">
            <legend class="f4 fw6 ph0 mh0">Sign In</legend>
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="username">Username</label>
                <input type="text" name="username" id="username" maxlength="32" required class="pa2 input-reset ba bg-transparent
                    hover-bg-black hover-white w-100" />
            </div>
            <div class="mv3">
                <label class="db fw6 lh-copy f6" for="password">Password</label>
                <input type="password" name="password" id="password" maxlength="128" required class="b pa2 input-reset ba
                    bg-transparent hover-bg-black hover-white w-100" />
            </div>
            <input type="submit" value="Login" class="b ph3 pv2 input-reset ba b--black
                    bg-transparent grow pointer f6 dib">
        </form>

        <form id="create_account" action="{{ url_for('create_user') }}" method="post" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0">Sign Up</legend>
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="username">Username</label>
                <input type="text" name="username" id="username" maxlength="32" required class="pa2 input-reset ba bg-transparent
                    hover-bg-black hover-white w-100" />
            </div>
            <div class="mv3">
                <label class="db fw6 lh-copy f6" for="password">Password</label>
                <input type="password" name="password" id="password" maxlength="128" required class="b pa2 input-reset ba
                    bg-transparent hover-bg-black hover-white w-100" />
            </div>
            <input type="submit" value="Sign Up" class="b ph3 pv2 input-reset ba b--black
                    bg-transparent grow pointer f6 dib">
        </form>
    </div>
</div>

{% endblock %}